{% extends 'base.html' %}


{% block main %}
<div class="category">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="section_title_container text-center">
                  <div class="section_subtitle">About us</div>
              </div>
              <br />
              <p>Bracelets have been worn to fend off evil spirits or the harsh sun, to indicate marital status,
                  and to encourage winter to give way to spring sooner rather than later. Bracelets have grown
                  into a fashion item, and many of these have particular value for the wearer.</p>
              <p>Our online Ra store provides handcrafted bracelets made entirely of recycled materials.
                  Accessories
                  are more than simply a passing fad; they are important things designed to stay and be proud of.
                  We feel that our items are created out of appreciation for our consumers. We sell our worth to
                  contribute to and respect society in addition to our products.</p>
              <p>Email: nguyenphanthaonhi@gmail.com</p>

          </div>
      </div>
  </div>

</div>

{% endblock %}